table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  table thead {
    background-color: #20c9a6;
    color: #fff;
    border: 1px solid gray;
  }
  
  table thead th {
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
  }
  
  table tbody td {
    padding: 20px 0;
    text-align: center;
    border: 1px solid gray;
  }

  .genres {
    list-style: none;
    display: inline;
    
    position: relative;
    bottom: 10px;
  }